<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center">Search Flights</h1>
      <div class="row center">
        <h5 class="header col s12 light">Find your destination in one Search & Book the best deal</h5>
      </div>
        <%= render 'search' %>
      <br><br>
    </div>
 </div>
 <%require "pry"; binding.pry%>
	<% if !@flights.nil? %>
		<%= render 'flights/search_results' %>
	 <% end %>
<div class="wrapper">
	<div class="container">
	    <div class="section">

	      <!--   Icon Section   -->
	      <div class="row">
	        <div class="col s12 m4">
	          <div class="icon-block">
	            <h2 class="center blue-text"><i class="material-icons md-48">today</i></h2>
	            <h5 class="center">Book Flight</h5>

	            <p class="light">We did most of the heavy lifting for you to be able to book your flights as convineniently and as easily as possible. In five minutes or less, you have booked your flight!</p>
	          </div>
	        </div>

	        <div class="col s12 m4">
	          <div class="icon-block">
	            <h2 class="center blue-text"><i class="material-icons md-48">receipt</i></h2>
	            <h5 class="center">Get Receipt</h5>

	            <p class="light">After booking your flight, check your email for flight details and wait for the day to come. Just make sure that you have your reciept on demand and you are set to fly!</p>
	          </div>
	        </div>

	        <div class="col s12 m4">
	          <div class="icon-block">
	            <h2 class="center blue-text"><i class="material-icons md-48" >flight_takeoff</i></h2>
	            <h5 class="center">Fly</h5>

	            <p class="light">The last step is to go on the flight and have an amazing time at your destinaton. Have a safe trip!</p>
	          </div>
	        </div>
	      </div>

	    </div>
	    <br><br>

    <div class="section">
	    	<h3 class="center blue-text">Why book with Us</h3>
	    	
	    	<h5 class="center">Instant flight quotes mean you save time & money – fares from all major airlines and low cost carriers are displayed on one page.Search for flights. Find the best deal and book instantly – no more waiting for quotes. Our business is online and we pass the savings on to you. No hidden costs – the price you see on the website is the price you pay</h5>

    </div>
  </div>
</div>