<% provide(:title, 'Booking') %>
<h3>Flight Booking Information</h3>
<table>
  <% form_tag bookings_path, method: 'get'  do%>
   <div class="data-field">
     <%= hidden_field_tag :booking %>
        <tr>
          <th>Flight #</th>
        </tr>
        <tr>
          <td>flight.id</td>
        </tr>
   </div>
  <% end %>
</table>