<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for using our platform for your travel needs, <%= @name %></h1>
    <p>
      You have successfully made your booking.
    </p>
    <p>
      Your Booking Code is: <% @flight_id %>.
    </p>
    <p>
      Your optimal satisfaction is of utmost importance to us.
    </p>
    <p>
      Thanks for Choosing Flyer!
    </p>
    <p>Have a safe trip!</p>
  </body>
</html>