<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper navi">
      <a href="/" class="brand-logo">Flyer</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% unless current_user  %>
          <li><a href="login">Log In</a></li>
          <li><a href="signup">Sign Up</a></li>
          <!-- <li><a href="collapsible.html">JavaScript</a></li> -->
        <% else %>
          <ul id='dropdown1' class='dropdown-content'>
            <li><a href="/bookings">Profile</a></li>
            <li><%= link_to "Sign Out", logout_path%></li>
          </ul>
          <li class='dropdown-button' href='#' data-activates='dropdown1'> Welcome, <%= current_user.name%> </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>

